<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title>{{ window.title }}</title>
        
        <meta name="description" content="{{ window.description }}">
        <meta name="viewport" content="width=device-width">

        <link rel="icon" type="image/x-icon" href="/static/img/{{ window.favicon }}">
        <link rel="author" type="text/plain" href="/humans.txt" />
        
        <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Ovo|Questrial' type='text/css'>
        <link rel="Stylesheet" type="text/css" href="/static/reset.css" />
        <link rel="Stylesheet" type="text/css" href="/static/main.css" />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
        <script src="/static/main.js"></script>
    </head>
    <body>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
