{% extends 'base.html' %}

{% block content %}

<section id="top">
    <header>
        <div id="page-title">
            <h1>{{ header.title }}</h1>
            <p>{{ header.byline }}</p>
        </div>
        {% if not screening.hidden %}
            <div id="screening">
                <p>{{ screening.what }}</p>
                <p><a href="{{ screening.href }}">{{ screening.where }}</a></p>
            </div>
        {% endif %}
    </header>
    <iframe
        src="{{ header.vimeo_url }}"
        width="912" height="512" frameborder="0"
        webkitAllowFullScreen mozallowfullscreen allowFullScreen >
    </iframe>
</section>

<section id="photos">
    <ul>
        {% for image in photos.images %}
            <li>
                <a href="/static/img/{{ image.src }}{{ photos.extension }}">
                    <img src="/static/img/{{ image.src }}{{ photos.thumb_postfix }}{{ photos.extension }}"
                    title="{{ image.title }}"
                    alt="{{ image.alt }}" />
                </a>
            </li>
        {% endfor %}
    </ul>
</section>

<section id="synopsis">
    <h2>{{ synopsis.title }}</h2>
    <p>{{ synopsis.content }}</p>
</section>

<section id="credits">
    <hr class="before" />
    {% for credit in credits %}
        <p>{{ credit }}</p>
    {% endfor %}
    <hr class="after" />
</section>

<section id="footer">
    <p class="footer-details">{{ footer.details|join(' - ') }}</p>
    <p class="footer-links">
        {% for link in footer.links %}
            <a href="{{ link.href }}">{{ link.text }}</a>
            {% if not loop.last %} - {% endif %}
        {% endfor %}
    </p>
</section>

{% endblock %}